* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #25262c;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 45px;
  background-color: #353651;
  width: 500px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container h2 {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.container label {
  font-size: 15px;
  color: rgb(33, 176, 166);
}

.container input {
  height: 30px;
  width: 100%;
  padding: 1px 25px;
  box-sizing: border-box;
  border: 2px solid #fffcfc;
  border-radius: 20px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.container textarea {
  padding: 10px 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 15px;
  resize: none;
}

#button {
  background-color: rgb(33, 176, 166);
  display: flex;
  margin: 10px auto 0px auto;
  cursor: pointer;

  border: none;
}
